DB_USER="DB_USER"
DB_PASSWORD="DB_PASSWORD"
DB_NAME="DB_NAME"
AZURITE_CONNECTION_STRING="DefaultEndpointsProtocol=http;AccountName=ACCOUNT_NAME;AccountKey=ACCOUNT_KEY;BlobEndpoint=BLOB_ENDPOINT"
AZURE_CLIENT_ID="CLIENT_ID"
AZURE_TENANT_ID="TENANT_ID"
AZURE_COMMUNICATION_SERVICES_CONNECTION="endpoint=https://YOUR_ACS_RESOURCE.communication.azure.com/;accesskey=YOUR_ACCESS_KEY"