html, body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#blazor-error-ui {
    display: none;
}

/* Dummy variables to stop IDE warnings. 
   MudBlazor will override these at runtime anyway. */
:root {
    --mud-palette-primary: #594AE2;
    --mud-palette-action-default: rgba(0,0,0, 0.54);
    --mud-palette-error: #f44336;
    --mud-palette-error-hover: #972922;
}