html, body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#blazor-error-ui {
    display: none;
}

.mud-main-content {
    padding-top: 0 !important;
}

/* Dummy variables to stop IDE warnings. 
   MudBlazor will override these at runtime anyway. */
:root {
    --mud-palette-primary: #5C58D6;
    --mud-palette-secondary: #6F767E;
    --mud-palette-background: #FFFFFF;
    --mud-palette-surface: #FFFFFF;
    --mud-palette-drawer-background: #FAFAFA;
    --mud-palette-appbar-background: #FFFFFF;
    --mud-palette-appbar-text: #1A1D1F;
    --mud-palette-text-primary: #1A1D1F;
    --mud-palette-text-secondary: #6F767E;
    --mud-palette-lines-default: #EFEFEF;
    --mud-palette-divider: #EFEFEF;
    --mud-palette-info: #5C58D6;
    --mud-palette-success: #27AE60;
    --mud-palette-warning: #F2C94C;
    --mud-palette-error: #EB5757;
    --mud-palette-action-default-hover: rgba(26, 29, 31, 0.04);
}

.dark-mode {
    --mud-palette-primary: #6C63FF;
    --mud-palette-secondary: #8C939D;
    --mud-palette-background: #17181C;
    --mud-palette-surface: #17181C;
    --mud-palette-drawer-background: #1B1C20;
    --mud-palette-appbar-background: #17181C;
    --mud-palette-appbar-text: #FFFFFF;
    --mud-palette-text-primary: #FFFFFF;
    --mud-palette-text-secondary: #8C939D;
    --mud-palette-lines-default: #2D3038;
    --mud-palette-divider: #2D3038;
    --mud-palette-info: #6C63FF;
    --mud-palette-success: #27AE60;
    --mud-palette-warning: #F2C94C;
    --mud-palette-error: #EB5757;
    --mud-palette-action-default-hover: rgba(255, 255, 255, 0.05);
}